<button class="posts__post_newSurvey-btn flex justify-center items-center gap-2 text-black font-medium p-4 bg-feeds-bg w-full rounded" type="button" aria-controls="posts__post_newSurvey_questionsContainer">
  <%= t("decidim.components.posts.newFeed.newSurvey.newQuestion") %>
  <%= icon "add-line" %>
</button>
<div id="posts__post_newSurvey_liveRegion" aria-live="polite" class="sr-only"></div>
<div id="posts__post_newSurvey_questionsContainer" aria-live="polite">
  <template id="question_template">
    <%#= form.fields_for :questions, @form.questions.new, child_index: "NEW_RECORD" do |question_form| %>
    <%= fields_for "post[questions][NEW_RECORD]", Decidim::Posts::Question.new do |question_form| %>
      <%= render partial: "decidim/posts/posts/new_survey_question", locals: { form: question_form } %>
    <% end %>
  </template>
  <template id="answer_template">
    <%#= form.fields_for :answers, @form.answers.new, child_index: "NEW_RECORD" do |answer_form| %>
    <%= fields_for "post[questions][QUESTION_RECORD][answers][NEW_RECORD]", Decidim::Posts::Answer.new do |answer_form| %>
      <%= render partial: "decidim/posts/posts/new_survey_answer", locals: { form: answer_form } %>
    <% end %>
  </template>

</div>
