<aside class="posts__aside shrink-0 max-lg:right-[16px] max-lg:top-[88px] max-lg:bottom-[80px] max-lg:fixed max-w-[72px] order-2 flex flex-col justify-between lg:justify-start">
  <nav aria-label="<%= t("decidim.components.posts.filter.menuAriaLabel") %>">
    <ul class="flex flex-col space-y-4">
      <% filters = {
        all: 'function-line',
        post: 'home-5-line',
        sharecare: 'shake-hands-line',
        calendar: 'calendar-line',
        survey: 'draft-line',
        host: 'home-gear-line'
      } %>
      <% posts_component = current_component.manifest_name == "posts" ? current_component : current_component.participatory_space.components.find_by(manifest_name: "posts") %>
      <% current_posts_path = Decidim::EngineRouter.main_proxy(posts_component).posts_path %>
      <% activefilter = if current_user.admin? && params[:filter_post_category].blank?
        'host'
      else
        params[:filter_post_category]
      end %>
      <% filters.each do |category, icon| %>
        <li>
          <%= link_to "#{current_posts_path}?filter_post_category=#{category}", class: "flex flex-col items-center font-medium text-sm md:text-md text-feeds-sidebar text-center #{activefilter == category ? 'active' : ''}", data: { filter: category }, aria: { current: (params[:filter_post_category] == category ? 'page' : nil) } do %>
            <%= icon "#{icon}", class:'w-[24px] h-auto fill-feeds-sidebar' %>
            <span><%= category_label(category, component_settings) %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </nav>
  <div class="posts__aside__footer mb-8 mt-auto lg:mt-12">
    <div class="w-[72px] bg-white flex flex-col items-center justify-center gap-2">
      <% current_component.participatory_space.attachments.each do |sponsor_logo| %>
        <%= image_tag sponsor_logo.url, class: "max-w-full max-h-full object-contain", alt: translated_attribute(sponsor_logo.title) %>
      <% end %>
    </div>
  </div>
</aside>
