<aside class="posts__aside">
  <nav aria-label="<%= t("decidim.components.posts.filter.menuAriaLabel") %>">
    <ul>
      <% filters = [
        { filter: 'all', icon: 'function-line' },
        { filter: 'post', icon: 'home-5-line' },
        { filter: 'sharecare', icon: 'shake-hands-line' },
        { filter: 'calendar', icon: 'calendar-line' },
        { filter: 'survey', icon: 'draft-line' },
        { filter: 'host', icon: 'home-gear-line' }
      ] %>
      <% posts_component = current_component.manifest_name == "posts" ? current_component : current_component.participatory_space.components.find_by(manifest_name: "posts") %>
      <% current_posts_path = Decidim::EngineRouter.main_proxy(posts_component).posts_path %>
      <% filters.each do |filter| %>
        <li>
          <%= link_to "#{current_posts_path}?filter_post_category=#{filter[:filter]}", class: (params[:filter_post_category] == filter[:filter] ? 'active' : ''), data: { filter: filter[:filter] }, aria: { current: (params[:filter_post_category] == filter[:filter] ? 'page' : nil) } do %>
            <%= icon "#{filter[:icon]}" %>
            <span><%= t("decidim.components.posts.filter.#{filter[:filter]}") %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </nav>
  <div class="posts__aside__footer mb-8 mt-auto">
    <div class="w-[72px] bg-white flex flex-col items-center justify-center gap-2">
      <% current_component.participatory_space.attachments.each do |sponsor_logo| %>
        <%= image_tag sponsor_logo.url, class: "max-w-full max-h-full object-contain", alt: translated_attribute(sponsor_logo.title) %>
      <% end %>
    </div>
  </div>
</aside>
