<div class="card__grid-metadata gap-2 items-center flex-nowrap text-black px-2 pt-2">
  <% if post.is_a?(Decidim::Posts::Post) && post.highlighted %>
    <div></div>
  <% else %>
    <% if post.author.is_a? Decidim::User %>
      <%= cell("decidim/author", Decidim::UserPresenter.new(post.author), layout: :compact) %>
    <% else %>
      <%= cell("decidim/author", Decidim::Meetings::OfficialAuthorPresenter.new, layout: :compact) %>
    <% end %>
  <% end %>
  <div class="posts__post_actions flex gap-4">
    <div class="posts__post_actions_submenu relative self-start">
      <% if show_menu? %>
        <button type="button" aria-expanded="false" aria-haspopup="true" aria-controls="<%= dom_id(post) %>_posts__post_actions_submenu" id="<%= dom_id(post) %>_posts__post_actions_submenuButton" class="flex justify-center items-start min-w-[24px] min-h-[24px] openButton">
          <span class="sr-only"><%= t('decidim.components.posts.actions.openMenu') %></span>
          <span aria-hidden="true" class="leading-[0] text-3xl text-feeds-sidebar">...</span>
        </button>

        <ul id="<%= dom_id(post) %>_posts__post_actions_submenu" role="menu" aria-orientation="vertical" aria-labelledby="<%= dom_id(post) %>_posts__post_actions_submenuButton" class="absolute right-0 mt-2 px-4 py-2 bg-white divide-y divide-dashed divide-gray-100 rounded-md shadow shadow-feedMenu overflow-hidden hidden z-10">
          <% if show_report_button? %>
            <li class="text-right py-1 text-feeds-sidebar" role="menuitem">
              <%= cell("decidim/report_button", post, button_classes: "hover:text-black dropdown__item flex-row-reverse min-h-[24px]", modal_id: "flagModalPost#{post.id}") %>
            </li>
          <% end %>
          <% if show_translate_button? %>
            <li class="text-right py-1 text-feeds-sidebar" role="menuitem">
              <%= link_to '#', class:'hover:text-black dropdown__item min-h-[24px]' do %>
                <%= icon "translate" %>
                <span><%= t('decidim.components.posts.actions.translate') %></span>
              <% end %>
            </li>
          <% end %>
          <% if post_editable? %>
            <li class="text-right py-1 text-feeds-sidebar" role="menuitem">
              <%= link_to edit_post_path, class: "hover:text-black dropdown__item min-h-[24px]" do %>
                <%= icon "pencil-line" %>
                <span><%= t('decidim.components.posts.actions.edit') %></span>
              <% end %>
            </li>
          <% end %>
          <% if post_deleteable? %>
            <li class="text-right py-1 text-feeds-sidebar" role="menuitem">
              <%= button_to delete_post_path, method: delete_method, class: "hover:text-black dropdown__item min-h-[24px]", data: { confirm: t('decidim.components.posts.actions.deleteConfirmation') } do %>
                <%= icon "delete-bin-line" %>
                <span><%= t('decidim.components.posts.actions.delete') %></span>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
