<% if post_commentable? %>
  <div class="posts__post_comments px-2" data-post-id="<%= post.id %>">
    <button class="button button__sm button__transparent-primary absolute newCommentBtn" data-post-id="<%= post.id %>" data-model-type="<%= model_type %>" aria-expanded="false" aria-controls="new_comment_for_<%= model_type %>_<%= post.id %> comments-for-<%= model_type %>-<%= post.id %>-threads"><%= t(".comment") %></button>
    <%#= comments_for post %>
    <%= cell(
      "decidim/posts/comments",
      post,
      machine_translations: machine_translations_toggled?,
      single_comment: params.fetch("commentId", nil),
      order: options[:order],
      polymorphic: options[:polymorphic]
    ).to_s %>
  </div>
<% end %>
<style>
  .comment__opinion-label, .comment__opinion-container{display:none;}
</style>
