<article class="card__grid posts__post" data-content="calendar">
  <%= cell("decidim/posts/post_header", meeting) %>
  <div class="flex gap-4 py-2 px-2">
    <div class="card__grid-text--meta flex flex-col gap-2">
      <time class="card__calendar" datetime="<%= meeting.start_time.iso8601 %>">
        <span class="card__calendar-month"><%= l(meeting.start_time, format: "%b") %></span>
        <span class="card__calendar-day"><%= l(meeting.start_time, format: "%d") %></span>
        <span class="card__calendar-year"><%= l(meeting.start_time, format: "%Y") %></span>
      </time>
      <% if meeting.start_time.to_date != meeting.end_time.to_date %>
        <span class="self-center font-bold text-xs"><%= t("decidim.components.posts.calendar.date_separator") %></span>
        <time class="card__calendar" datetime="<%= meeting.end_time.iso8601 %>">
          <span class="card__calendar-month"><%= l(meeting.end_time, format: "%b") %></span>
          <span class="card__calendar-day"><%= l(meeting.end_time, format: "%d") %></span>
          <span class="card__calendar-year"><%= l(meeting.end_time, format: "%Y") %></span>
        </time>
      <% end %>
    </div>
    <div class="card__grid-text p-0">
      <h2 class="h3"><%= link_to meeting_title, Decidim::EngineRouter.main_proxy(meeting.component).meeting_path(meeting) %></h2>
      <% should_truncate = strip_tags(meeting_description).length > 300 %>
      <div class="content-block__description editor-content" <%= "data-component='accordion'" if should_truncate %>>
        <% if should_truncate %>
          <% seed = SecureRandom.hex(4) %>
          <div id="panel-view-more-<%= seed %>" aria-hidden="true">
            <%= meeting_description %>
          </div>
          <button class="button button__sm button__text-secondary mt-2" data-controls="panel-view-more-<%= seed %>" aria-expanded="false">
            <span>
              <%= t("view_more", scope: "layouts.decidim.announcements") %>
            </span>
            <%= icon "arrow-down-s-line" %>
            <span>
              <%= t("view_less", scope: "layouts.decidim.announcements") %>
            </span>
            <%= icon "arrow-up-s-line" %>
          </button>
        <% else %>
          <%= meeting_description %>
        <% end %>
      </div>
      <div class="flex gap-4 mt-auto flex-wrap">
        <div class="bg-background p-2 rounded-md font-bold shrink">
          <time datetime="<%= meeting.start_time.iso8601 %>">
            <%= l(meeting.start_time, format: "%H:%M") %>
          </time>
          </time>
          <% if meeting.start_time != meeting.end_time %>
            <%= t("decidim.components.posts.calendar.end_time") %>
            <time datetime="<%= meeting.end_time.iso8601 %>">
              <%= l(meeting.end_time, format: "%H:%M") %>
            </time>
          <% end %>
        </div>
        <% if meeting_location != '' %>
          <div class="bg-background p-2 rounded-md font-bold shrink">
            <%= meeting_location %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= cell("decidim/posts/post_comment", meeting) %>
  <%= cell("decidim/posts/post_metadata", meeting) %>
</article>
