<% if post.attachments.any? %>
  <div class="feeds__attachments py-4 px-2">

    <div class="flex flex-col items-center">
      <ul id="galleryItems_<%= post.id %>" class="posts__post_gallery flex overflow-hidden">
        <% post.attachments.select { |a| a.file_type.match(/\.(jpg|jpeg|png|svg|webp|mp4|webm)$/i) }.each_with_index do |attachment, index| %>
          <li class="<%= attachment.url.match(/\.(mp4|webm)$/i) ? 'video' : 'image' %> <%= index.zero? ? 'active' : '' %> aspect-[4/3] overflow-hidden flex justify-center items-center" data-src="<%= attachment.url %>">
            <% if attachment.url.match(/\.(mp4|webm)$/i) %>
              <%= video_tag(attachment.url, class: "object-cover w-full h-full", controls: true, preload: "auto") %>
            <% else %>
              <div class="w-full h-full flex justify-center items-center">
                <%= image_tag(attachment.url, class: "max-w-full max-h-full object-contain", alt: translated_attribute(attachment.title), width: '400px', height: '300px' ) %>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
      <% if post.attachments.select { |a| a.file_type.match(/\.(jpg|jpeg|png|svg|webp|mp4|webm)$/i) }.count > 1 %>
        <div id="navDots_<%= post.id %>" class="nav-dots p-1 flex flex-wrap justify-center">
          <% total = post.attachments.select { |a| a.file_type.match(/\.(jpg|jpeg|png|svg|webp|mp4|webm)$/i) }.count %>
          <% post.attachments.select { |a| a.file_type.match(/\.(jpg|jpeg|png|svg|webp|mp4|webm)$/i) }.each_with_index do |_, index| %>
            <div class="posts__post_gallery_nav_dot flex justify-center items-center cursor-pointer h-6 w-6" role="button" aria-label="<%= t('decidim.components.posts.gallery.navigation', number: index + 1, total: total) %>" data-target="galleryItems_<%= post.id %>" data-index="<%= index %>">
              <span class="h-2 w-2 rounded-full ring-1 ring-offset-1 ring-feeds-notification <%= index.zero? ? 'bg-feeds-notification' : '' %>"></span>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <% non_media_attachments = post.attachments.reject { |a| a.file_type.match(/\.(jpg|jpeg|png|svg|webp|mp4|webm)$/i) } %>
    <% if non_media_attachments.any? %>
      <ul class="document-list space-y-2 mt-4">
        <% non_media_attachments.each_with_index do |attachment, index| %>
          <li class="<%= index.even? ? 'bg-feeds-formBody' : '' %> py-1 pl-2 pr-4 flex gap-1 items-center">
            <%= icon "file-2-line" %> <%= link_to File.basename(attachment.url), attachment.url, class: 'text-sm break-all', style: 'overflow-wrap: break-word' %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>